altair==4.1.0
argon2-cffi==21.1.0
astor==0.8.1
attrs
backcall==0.2.0
base58==2.1.0
bleach==4.1.0
blinker==1.4
branca
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.10.8
cffi
chardet
charset-normalizer==2.0.6
click
click-plugins==1.1.1
cligj
colorama
cryptography
cycler==0.10.0
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
entrypoints==0.3
Fiona==1.8.20
folium
GDAL==3.3.2
geopandas
gitdb==4.0.7
GitPython==3.1.24
idna==3.2
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2
joblib
jsonschema==4.1.0
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver
mapclassify
MarkupSafe
matplotlib
matplotlib-inline==0.1.3
mistune==0.8.4
munch==2.5.0
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx
notebook==6.4.4
numpy
olefile
packaging==21.0
pandas
pandocfilters==1.5.0
parso==0.8.2
pickleshare==0.7.5
Pillow
plotly==5.3.1
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.18.1
pyarrow==5.0.0
pycparser
pydeck==0.7.0
Pygments==2.10.0
pyOpenSSL
pyparsing==2.4.7
pyproj
pyrsistent==0.18.0
PySocks
python-dateutil
pytz
pywin32==301
pywinpty==1.1.4
pyzmq==22.3.0
requests
Rtree
scikit-learn
scipy
Send2Trash==1.8.0
Shapely==1.7.1
six
smmap==4.0.0
streamlit==1.0.0
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
threadpoolctl
toml==0.10.2
toolz==0.11.1
tornado
traitlets==5.1.0
typing-extensions==3.10.0.2
tzdata==2021.2.post0
tzlocal==3.0
urllib3
validators==0.18.2
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton
xyzservices
